page-contribute-farmers {
        #pay{
            margin-top: 20px;
            background-color: #076307;
        }
        #content{
            font-size: 14px;
            font-weight: 500;
        }
        #emailId{
            font-size: 16px;
            font-weight: bolder;
        }
        #amountInfo{
            text-align: center;
            font-size: 16px;
            font-weight:bolder;
        }
        }
        
