page-resetpassword {
  
        ion-title{
            align-content: left;
            text-align: left;
            }
        #reset{
            margin-top: 20px;
        }    
        #errorMsg{
            font-size: 12px;
            text-align: center;
            align-content: center;
            //padding-left: 10px;
            //margin-left: 15px;
            color: red;
        }
        }
        