.md{
    page-home {
    ion-title{
        align-content: center;
        text-align: center;
        
    }  
    #donate{
        text-align: center;
        height:50%;
        width: 30%;
        background-color: white;
        font-size: 20px;
    }
    #refresh{
        text-align: center;
        font-size: 16px;
        font-weight: 100; 
        color:  #076307;
    }
    
        #iconItem{
        float:left;
        margin-top: 10px;
        font-size: 40px;
        //color:orange;
    }
    
    #noContent{
        color:red;
        text-align: center;
        margin-top: 0px;
    }
    
    ion-item{
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    }
    table{
       // width:100%;
    }
    #myicon{
        float:right;
        margin-top: -13px;
        margin-left: 20px;
        color: orangered;
        font-size: 12px;
    }
    #menuValues{
        color: black;
    }
    #oneTH{
    color: #076307;
    align-content: center;
    //width:100%;
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    margin-left: 75px;
    }
    #myTR{
        background-color:#076307;
        //width: 100%;
    }
    
    #twoTH{
        //float: left;
        color: whitesmoke;
        margin-left: 40px;
    }
    #uname{
        margin-top: 20px;
        margin-left: 5px;
        font-size: 18px;
    }
    #name{
        font-size: 22px;
        font-weight: bolder;
        color: #488aff;
    }
    
    #detail1{
        font-size: 12px;
        font-weight: bolder;
    }
    #detail2{
        font-size: 12px;
        font-weight: bolder;
        
    }
    #detail3{
        font-size: 16px;
        font-weight: bold;
    }
    
    #uemail{
        margin-top: 5px;
        font-size: 12px;
    }
    #tdata{
        margin-left: 4%;
    }
    #contributors{
        margin-left: 20px;
        margin-bottom: 0px;
        float:right;
        font-weight:bolder;
        width: 20px;
        height:20px;
        color: whitesmoke;
        border-radius: 50%;
        background-color: #076307
        //background-color: #488aff;
    }
    
    #image{
        border-radius:0%;
       // overflow:hidden; 
        margin-left: -10px;
        float: left;
        width:100px;
        height:100px;
    }
    #welcomeMsg{
        text-align: center;
        align-content: center;
        font-size: 20px;
        font-weight: bold;
    }
    #title{
        //text-align: center;
        //align-content: center;
        //margin-top: 12px;
        float:left;
    }
    #more{
        font-size: 20px;
        //background-color: blue;
        //float: right;
        padding-right: 10px;
        //margin-bottom: 0px;
        color: black;
    }
    #sort{
        float:right;
    }
    }
    }
    .ios{
        page-home {
    .toolbar-title{
        overflow: unset;
        //margin-left: -70px;
        //font-size: 1.7rem;
        //font-weight: 600;
        //color: white;
        /* pointer-events: auto; */
    }
    
            #iconItem{
                 overflow: unset;
        float:left;
        margin-top: 0px;
        margin-left: -80px;
        font-size: 50px;
        //color:blue;
    }
    #uname{
         overflow: unset;
        margin-top:10px;
        font-size: 18px;
        margin-left:-20px;
    }
    #uemail{
        overflow: unset;
        margin-top:0px;
        font-size: 12px;
        margin-left:0px;
    }
    #contributors{
        margin-left: 30px;
        margin-bottom: 0px;
        float:right;
        font-weight:bolder;
        width: 20px;
        height:20px;
        color: whitesmoke;
        border-radius: 50%;
        background-color: #076307
    }
    #refresh{
        text-align: center;
        font-size: 14px;
        font-weight: 100; 
        color:  #076307;
    }
    #more{
        font-size: 20px;
        //background-color: blue;
        //float: right;
        padding-right: 10px;
        //margin-bottom: 0px;
        color: black;
    }
    #title{
        //text-align: center;
        //align-content: center;
        //margin-top: 12px;
        float:left;
    }
    ion-title{
        align-content: center;
        text-align: center;
        
    } 
    #noContent{
        color:red;
        text-align: center;
        margin-top: 0px;
    }
    ion-item{
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    }
    #myicon{
        float:right;
        margin-top: -13px;
        margin-left: 20px;
        color: orangered;
        font-size: 12px;
    }
    #menuValues{
        color: black;
    }
    #oneTH{
    color: #076307;
    align-content: center;
    //width:100%;
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    margin-left: 75px;
    }
    #myTR{
        background-color:#076307;
        //width: 100%;
    }
    
    #twoTH{
        //float: left;
        color: whitesmoke;
        margin-left: 40px;
    }
    #name{
        font-size: 22px;
        font-weight: bolder;
        color: #488aff;
    }
    
    #detail3{
        font-size: 16px;
        font-weight: bold;
    }
    #image{
        border-radius:0%;
       // overflow:hidden; 
        margin-left: -10px;
        float: left;
        width:100px;
        height:100px;
    }
    #welcomeMsg{
        text-align: center;
        align-content: center;
        font-size: 20px;
        font-weight: bold;
    }
    ion-searchbar{
        text-align: center;
        align-content: center;
        margin-left: 10px;
    }
    #sort{
        margin-left: 100%;
        //float:right;
    }
        
        }
    }