<!--
  Generated template for the ContributorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="farmGreen">
    <h3 id="close" (click)="dismissView()">close</h3>
    <ion-title>Who contributed ?</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let detail of specificCountArray; let i = index">
      <ion-avatar item-start>
        <img src="{{detail.image}}">
      </ion-avatar>
      <h2>{{detail.name}}</h2>
      <p>Amount Paid: {{detail.amount_paid}}</p>
      <!--  <div id="date">Transaction Date: {{detail[0]}}</div>-->
    </ion-item>
  </ion-list>
  <div id="contributeCount" *ngIf="specificCountArray.length==0">
    Yet to Contribute :(

  </div>
</ion-content>